﻿@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

@*<p>
        We would love to hear from you if you have any suggestions for new features to the website that would improve your site experience.
    </p>
    <p>
        If you have experienced any issues using this site, please contact us and let us know what happened so that we can research the problem and
        get it corrected as soon as possible.
    </p>*@
<p>
    If you hypnotize it, it will go away. We'll make some happy little bushes here. We'll play with clouds today.
    We'll throw some old gray clouds in here just sneaking around and having fun. Let's have a nice tree right here.
    @*</p>
        <address>
            Drunken Coders<br />
            1234 Main Street<br />
            Monmouth, OR 97361<br />
            Phone: 503.555.5555
        </address>

        <address>
            <strong>Anthony Visuano:</strong>   <a href="avisuano@drunkencoders.net">avisuano@drunkencoders.net</a><br />
            <strong>Anthony Franco:</strong> <a href="afranco@drunkencoders.net">afranco@drunkencoders.net</a><br />
            <strong>Chunze Liu:</strong> <a href="cliu@drunkencoders.net">cliu@drunkencoders.net</a>
        </address>*@
