﻿@{
    ViewBag.Title = "FacilitiesSearch";
}

<br/>
<h3 style="text-align: center">Search For A VA Facility Near You</h3><br/>
<div class="va-search-div">
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="inputOne">Latitude</label>
            <input class="form-control" id="latitude" name="latitude" type="number" placeholder="Latitude..." />
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputTwo">Longitude</label>
            <input class="form-control" id="longitude" name="longitude" type="number" placeholder="Longitude..." />
        </div><br /><br />
        <div>
            <button type="submit" id="searchButton">Search Facilites</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="searchResults"></div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/VAFacilitySearch.js"></script>
}