﻿@model WhiskeyTangoFoxtrot.Models.Viewmodels.ProfileViewModel

@{
    ViewBag.Title = "UserIndex";
}

<h1>Hello @Model.UserProfiles.Select(a => a.FirstName).FirstOrDefault() @Model.UserProfiles.Select(a => a.LastName).FirstOrDefault()</h1>

<div>
    <h2>
        ViewModel Data <br />
        Bio: @Model.UserProfiles.Select(a => a.Bio).FirstOrDefault()<br />
        Is profile Private: @Model.UserProfiles.Select(a => a.ProfileIsPrivate).FirstOrDefault() <br />
        Users City:    @Model.UserProfiles.Select(a => a.UserCity).FirstOrDefault()<br />
        UserID    @Model.UserProfiles.Select(a => a.WTFUserID).FirstOrDefault() <br />
        Forums:   @Model.Forums.ToList().FirstOrDefault()

    </h2>

</div>
