﻿@model NewsCheck.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trustlevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trustlevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsersID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
